@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(11, 11, 11);
}

h2{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(167, 193, 206);;
}

#site-table{
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

#btn-send{
    font-size: 15px;
    color: white;
    background-color: rgb(174, 145, 253);
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#btn-send:hover{
    background-color: rgb(167, 193, 206);
}

td button{
    background-color: rgb(174, 145, 253);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

